# DataClasses
# 1. 엄청 간략화된 class 생성

In [1]:
class School:
    def __init__(self, grade, classNum):
        self.grade = grade
        self.classNum = classNum

In [2]:
my = School(11, 5)

In [3]:
print(my)

<__main__.School object at 0x000001E4BBF7C308>

In [4]:
class School:
    def __init__(self, grade, classNum):
        self.grade = grade
        self.classNum = classNum

    def __repr__(self):
        return (f'{self.__class__.__name__}' f'(학년={self.grade!r}, 반={self.classNum!r})')

In [5]:
my = School(11, 5)

In [6]:
print(my)

School(학년=11, 반=5)

In [7]:
my == School(11, 5)

False

In [8]:
class School:
    def __init__(self, grade, classNum):
        self.grade = grade
        self.classNum = classNum

    def __repr__(self):
        return (f'{self.__class__.__name__}' f'(학년={self.grade!r}, 반={self.classNum!r})')

    def __eq__(self, other):
        if other.__class__ is not self.__class__:
            return NotImplemented
        return (self.grade, self.classNum) == (other.grade, other.classNum)

In [9]:
my = School(11, 5)

In [10]:
print(my)

School(학년=11, 반=5)

In [11]:
my == School(11, 5)

True

In [12]:
from dataclasses import dataclass

@dataclass
class School:
    grade:int
    classNum:int

In [13]:
my = School(11, 7)

In [14]:
my

School(grade=11, classNum=7)

In [15]:
my == School(11,7)

True

# 2. 다양한 형태로 사용 가능

In [1]:
from dataclasses import make_dataclass

Position = make_dataclass('Position', ['name', 'lat', 'lon'])

In [2]:
pos = Position('Oslo', 10.8, 59.9)
print(pos)

Position(name='Oslo', lat=10.8, lon=59.9)

In [3]:
## 이렇게 초기값 선언도 가능
from dataclasses import dataclass

@dataclass
class Position:
    name: str
    lon: float = 0.0
    lat: float = 0.0

In [6]:
posInit = Position('Seoul')
print(posInit)

Position(name='Seoul', lon=0.0, lat=0.0)

In [7]:
## 사용할 내부의 데이터에 타입을 미리 선언하고 싶지 않을 때
from dataclasses import dataclass
from typing import Any

@dataclass
class WithoutExplicitTypes:
    name: Any
    value: Any = 42

In [8]:
noType = WithoutExplicitTypes(32.1, 'nono')
print(noType)

WithoutExplicitTypes(name=32.1, value='nono')

# 3. Class 내부 함수 선언 가능

In [9]:
## 그냥 class와 마찬가지로 함수를 선언 할 수 있다

from dataclasses import dataclass
from math import asin, cos, radians, sin, sqrt

@dataclass
class Position:
    name: str
    lon: float = 0.0
    lat: float = 0.0

    def distance_to(self, other):
        r = 6371  # Earth radius in kilometers
        lam_1, lam_2 = radians(self.lon), radians(other.lon)
        phi_1, phi_2 = radians(self.lat), radians(other.lat)
        h = (sin((phi_2 - phi_1) / 2)**2
             + cos(phi_1) * cos(phi_2) * sin((lam_2 - lam_1) / 2)**2)
        return 2 * r * asin(sqrt(h))

In [10]:
oslo = Position('Oslo', 10.8, 59.9)
vancouver = Position('Vancouver', -123.1, 49.3)
oslo.distance_to(vancouver)

7181.784122942117

In [28]:
from dataclasses import dataclass, field
from typing import List


RANKS = '2 3 4 5 6 7 8 9 10 J Q K A'.split()
SUITS = '♣ ♢ ♡ ♠'.split()

def make_french_deck():
    return [PlayingCard(r, s) for s in SUITS for r in RANKS]

@dataclass(order=True)
class PlayingCard:
    sort_index: int = field(init=False, repr=False)
    rank: str
    suit: str
    def __str__(self):
        return f'{self.suit}{self.rank}'
    def __post_init__(self):
        self.sort_index = (RANKS.index(self.rank) * len(SUITS) + SUITS.index(self.suit))


@dataclass
class Deck:
    ##cards: List[PlayingCard] = make_french_deck()
    cards: List[PlayingCard] = field(default_factory=make_french_deck)
    def __repr__(self):
        cards = ', '.join(f'{c!s}' for c in self.cards)
        return f'{self.__class__.__name__}({cards})'

Deck()

Deck(♣2, ♣3, ♣4, ♣5, ♣6, ♣7, ♣8, ♣9, ♣10, ♣J, ♣Q, ♣K, ♣A, ♢2, ♢3, ♢4, ♢5, ♢6, ♢7, ♢8, ♢9, ♢10, ♢J, ♢Q, ♢K, ♢A, ♡2, ♡3, ♡4, ♡5, ♡6, ♡7, ♡8, ♡9, ♡10, ♡J, ♡Q, ♡K, ♡A, ♠2, ♠3, ♠4, ♠5, ♠6, ♠7, ♠8, ♠9, ♠10, ♠J, ♠Q, ♠K, ♠A)

In [29]:
Deck(sorted(make_french_deck()))

Deck(♣2, ♢2, ♡2, ♠2, ♣3, ♢3, ♡3, ♠3, ♣4, ♢4, ♡4, ♠4, ♣5, ♢5, ♡5, ♠5, ♣6, ♢6, ♡6, ♠6, ♣7, ♢7, ♡7, ♠7, ♣8, ♢8, ♡8, ♠8, ♣9, ♢9, ♡9, ♠9, ♣10, ♢10, ♡10, ♠10, ♣J, ♢J, ♡J, ♠J, ♣Q, ♢Q, ♡Q, ♠Q, ♣K, ♢K, ♡K, ♠K, ♣A, ♢A, ♡A, ♠A)

# 4. 상속

In [37]:
from dataclasses import dataclass

@dataclass
class Position:
    name: str
    lon: float = 0.0
    lat: float = 0.0

@dataclass
class Capital(Position):
    country: str = 'Unknown'
    lat: float = 40.0

In [38]:
Capital('Oslo', 'Norway')

Capital(name='Oslo', lon='Norway', lat=40.0, country='Unknown')

# 5. Efficiency

In [39]:
from dataclasses import dataclass

@dataclass
class SimplePosition:
    name: str
    lon: float
    lat: float

@dataclass
class SlotPosition:
    __slots__ = ['name', 'lon', 'lat']      #slot 사전 정의 (default값 사용 못함)
    name: str
    lon: float
    lat: float

In [40]:
from pympler import asizeof
simple = SimplePosition('London', -0.1, 51.5)
slot = SlotPosition('Madrid', -3.7, 40.4)
asizeof.asizesof(simple, slot)

(440, 168)

In [41]:
from timeit import timeit
timeit('slot.name', setup="slot=SlotPosition('Oslo', 10.8, 59.9)", globals=globals())

0.023153800000727642

In [42]:
timeit('simple.name', setup="simple=SimplePosition('Oslo', 10.8, 59.9)", globals=globals())

0.020363199999337667